body {
  font-family: sans-serif;
  background-color: #000000ab;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
p{
  letter-spacing: 1px;
}